<div class="comments">
    {{#each this}} {{!-- {{#each post.comments as |comment|}} <-- Also works --}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{format_date created_at}} {{!-- basically doing this >> format_date(created_at) --}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>
